@media (min-width: 0px){
    .Background{
        background-image: url(image/summer-deep-forest-landscape-in-cartoon-style-free-vector.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .Panel{
        text-align: center;
        position: absolute;
        top: 10%;
    }
    
    .Text{
        color: black;
        font-size: 40px;
    }
    
    .Dummy{
        opacity: 0%;
    }
    }
    
@media (min-width: 1024px){
    .Background{
        background-image: url(image/summer-deep-forest-landscape-in-cartoon-style-free-vector.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .Panel{
        text-align: center;
        position: absolute;
        top: 8%;
    }
    
    .Text{
        color: black;
        font-size: 40px;
        padding: 25px 60px;
    }
    
    .Dummy{
        opacity: 0%;   
    }
}